.film__about {
    display: flex;
    flex-wrap: wrap;
  }
  
  .film__left {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
  }
  
  .film__right {
    text-align: center;
    margin-left: 30px;
  }
  
  .film__poster-wrapper {
    flex: 0 0 33%;
  }
  
  .film__poster {
    max-width: 250px;
    max-height: 400px;
  }
  
  .film__poster:hover {
    transform: scale(1.3);
  }
  
  .film__title-wrapper {
    flex: 0 0 66%;
  }
  
  .title {
    font-family: 'Playfair Display', sans;
  }
  
  .film__title {
    font-size: 2.5rem;
  }
  
  .film__title-original {
    font-size: 1.5rem;
  }
  
  
  .film__trailer {
    display: flex;
    justify-content: center;
  }
  
  .film__trailer iframe {
    max-width:100%;
    max-height:100%;
  }
  
  
  .film__review-wrapper {
    padding: 20px 0;
    font-family: 'Tinos';
    font-size: 1.2rem;
    line-height: 1.7;
  }
  
  .review__text {
      text-indent: 3rem;
  }
  
  .review__date {
    display: flex;
    justify-content: flex-end;
    color: #333333;
    padding-right: 10px;
  }
  
  .review__rating-wrapper {
    text-align: center;
  }
  
  .review__author-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }
  
  .border {
    border-bottom: 1px solid #333333;
  }
  
  .main__comment-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .main__comment {
    display: flex;
    flex-direction: column;
  }
  
  .comment__item {
    background-color: lightgrey;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .comment__avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  .comment__header {
    display: flex;
    padding-bottom: 20px;
  }
  
  .comment__author {
    padding-left: 10px;
  }
  
  .comment__datetime {
    display: flex;
    justify-content: flex-end;
  }
  
  .comment__comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .comment-form__input {
    width: 90%;
  }
  
  .comment-form__submit {
    margin: 20px 0 0 0;
  }

  @media (max-width: 800px) {
    .film__trailer {
      text-align: center;
    }
  }

  @media (max-width: 420px) {
    .film__about {
      flex-direction: column;
    }
  
    .film__right {
      margin-left: 0;
    }
  
    .film__poster-wrapper {
      justify-content: center;
    }
  }